/* I den här filen placeras css som:
   - inte är overrides av primefaces default-beteende här
   - inte behandlar layouten för dashboarden
   
   Css som rör ovanstående ska läggas i respektive css fil. */
   

.bg-green {
	color: #fff;
    background-color: #5cb85c;
}
.bg-blue {
	background-color: #337ab7;
	color: #fff;
}
.bg-red {
    color: #fff;
    background-color: #d9534f;
}
.bg-yellow {
    color: #fff;
    background-color: #f0ad4e;
}

.clear {
	display: block;
	clear: both;
}

/* Header for plans */
.wrapper .main .content-title {
	padding-top: 40px;
}

.wrapper .main .content-title h1:FIRST-CHILD {
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	padding-bottom: 0;
}

.wrapper .main .content-title .ui-steps {
	float: right;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.splash {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.splash-subtext {
	display: block;
	text-align: center;
	color: blue;
	font-size: 0.8em;
}

.hello {
    color: green;
}

.ui-panel .field {
	position: relative;
	margin: 1em 0;
}

.ui-panel .field label > span {
	float: right;
	padding-left: .5em;
}

.ui-panel .field.checkbox label {
	padding-left: .5em;
}

.ui-panel .field ul.messages {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ui-panel .field.buttons ul.messages {
	margin: .5em 0;
}

.ui-panel .field ul.messages .info {
	color: #{green};
}

.ui-panel .field ul.messages .warn {
	color: #{blue};
}

.ui-panel .field ul.messages .error {
	color: #{red};
}