html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f5f7f8; /* #fff; */
	font-size: 90%; /*100%; */
	height: 100%; /* footer addition */
	
	color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}

a {
	outline: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    /* font-family: inherit; */
    font-weight: 500;
    line-height: 1.1;
    
    font-family: "Open Sans", sans-serif;
}

/* Container styling for project_stage development */

.dev {
	padding: .5em;
	background: yellow;
	margin-top: 0.4em;
}

.dev:before {
	content: "Development mode!";
	margin-right: .5em;
	font-weight: 700;
	color: red;
}

/* Content context menu */

.wrapper .main .ui-menubar {
	-moz-transition: left 0.3s;
	-o-transition: left 0.3s;
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
	position: fixed; 
	right: 0; 
	left: 250px; 
	padding-left: 30px;
	/*
	-webkit-box-shadow: 0px 2px 4px lightgrey;
  	-moz-box-shadow: 0px 2px 4px lightgrey;
  	box-shadow: 0px 2px 4px lightgrey;
  	*/
}

/* main wrapper */

.wrapper {
	padding: 0;
	min-height: 100%; /* footer addition */
	position: relative; /* footer addition */
}

/* OutputEntry tag */

.outputEntry>span.label {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
}

.outputEntry>span.text {
	display: block;
	margin-left: 10px;
}

/* topbar */

#topbar-icons .topbar-language-options>ul>li>a img, #topbar-icons .topbar-language-options>ul>li>a span {
	vertical-align: middle;
	margin-right: 7px;
}

#topbar-icons>div {
	display: inline-block;
}

.wrapper .topbar {
	-moz-transition: left 0.3s;
	-o-transition: left 0.3s;
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
	position: fixed;
	right: 0;
	left: 250px;
	/* min-height: 50px; */
	height: 50px;
	background-color: #2b5c83; /* #4d636f; */
	padding: 10px 20px 0 20px; /* .7em 1.5em 0em 1.5em; */
	box-sizing: border-box;
	color: #ffffff;
	z-index: 101;
}

.wrapper .topbar .menu-button span {
	vertical-align: top;
}

.wrapper .topbar .topbar-title {
	display: inline-block;
	font-size: 20px;
	margin: 0 0 0 15px;
	vertical-align: top;
}

.wrapper .topbar #topbar-icons {
	float: right;
	display: block;
	-moz-animation-duration: .5s;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

.wrapper .topbar #topbar-icons>div>a {
	position: relative;
	color: #ffffff;
	margin-left: 20px;
	display: inline-block;
	text-decoration: none;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.wrapper .topbar #topbar-icons a:hover {
	color: #77c7ff;
}

.wrapper .topbar #topbar-icons a span.topbar-icon {
	font-size: 28px;
}

.wrapper .topbar #topbar-icons li a span.topbar-icon {
	font-size: 1em;
	line-height: 1.42857em;
	float: left;
}

.wrapper .topbar #topbar-icons div>a span.icon-text {
	font-size: 20px;
	display: none;
}

.wrapper .topbar #topbar-icons a span.badge {
	position: absolute;
	font-size: 10px;
	right: -5px;
	top: -5px;
	color: #ffffff;
	padding: 2px 4px;
	background-color: #ef6262;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.wrapper .topbar .menu-button {
	display: inline-block;
	font-size: 28px;
	float: left;
	text-decoration: none;
	color: #ffffff;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.wrapper .topbar .menu-button:hover {
	color: #77c7ff;
}

.wrapper .topbar #topbar-icons-toggle-button {
	display: none;
	font-size: 28px;
	float: right;
	text-decoration: none;
	color: #ffffff;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.wrapper .topbar #topbar-icons-toggle-button:hover {
	color: #77c7ff;
}

/* sidebar */

.wrapper .sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	z-index: 102;
	-moz-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
	background-color: #4e5159;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4e5159),
		to(#1f2023));
	background-image: -webkit-linear-gradient(top, #4e5159, #1f2023);
	background-image: -moz-linear-gradient(top, #4e5159, #1f2023);
	background-image: -ms-linear-gradient(top, #4e5159, #1f2023);
	background-image: -o-linear-gradient(top, #4e5159, #1f2023);
	background-image: linear-gradient(top, #4e5159, #1f2023);
	filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#4e5159',
		end-colourStr='#1f2023');
}

.wrapper .sidebar .profile {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 20px 0;
	-moz-transition: padding-top 0.5s, padding-bottom 0.5s;
	-o-transition: padding-top 0.5s, padding-bottom 0.5s;
	-webkit-transition: padding-top 0.5s, padding-bottom 0.5s;
	transition: padding-top 0.5s, padding-bottom 0.5s;
}

.wrapper .sidebar .profile .logo {
	border: 1px solid black;
	margin: 0 auto;
	width: 95px;
	height: 95px;
	background-color: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(28, 27, 28, 1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(28, 27, 28, 1);
	box-shadow: 5px 5px 5px 0px rgba(28, 27, 28, 1);
	
	-moz-transition: height 0.5s, width 0.5s;
	-o-transition: height 0.5s, width 0.5s;
	-webkit-transition: height 0.5s, width 0.5s;
	transition: height 0.5s, width 0.5s;
}

.wrapper .sidebar .profile .logo img {
	-moz-transition: height 0.5s, width 0.5s;
	-o-transition: height 0.5s, width 0.5s;
	-webkit-transition: height 0.5s, width 0.5s;
	transition: height 0.5, width 0.5ss;
}

.wrapper .sidebar .profile img {
	display: block;
	margin: 0 auto;
}

.wrapper .sidebar .profile>a {
	display: inline-block;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.wrapper .sidebar .profile>a .username {
	display: inline-block;
	margin-top: 8px;
}

.wrapper .sidebar .profile>a .username:before {
	content: "";
	display: block;
}

.wrapper .sidebar .profile>a i {
	display: inline-block;
	font-size: 16px;
}

.wrapper .sidebar .profile>a:hover {
	color: #2399e5;
}

.wrapper .sidebar .profile>ul {
	margin-bottom: -20px;
	display: none;
	background-color: #2e3035;
	text-align: left;
}

.wrapper .sidebar .profile>ul li a {
	border: 0 none;
}

.wrapper .sidebar .profile>ul li:last-child>a {
	border: 0 none;
}

.wrapper .sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper .sidebar ul li>a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
	font-size: 1.3em; /* 14px; */
	padding: 15px;
	display: block;
	box-sizing: border-box;
	border-top: 1px solid #4e5159;
	-moz-transition: padding-left 0.3s;
	-o-transition: padding-left 0.3s;
	-webkit-transition: padding-left 0.3s;
	transition: padding-left 0.3s;
}

.wrapper .sidebar ul li>a span {
	margin-left: .3em;
}

.wrapper .sidebar ul li>a .menu-badge {
	position: absolute;
	right: 15px;
	top: 14px;
	color: #ffffff;
	padding: 2px 6px;
	background-color: #007be5;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.wrapper .sidebar ul li>a .fa:last-child {
	float: right;
	font-size: 16px;
}

.wrapper .sidebar ul li>a:hover {
	padding-left: 20px;
	color: #2399e5;
}

.wrapper .sidebar ul li>a:hover .menu-badge {
	color: #ffffff;
}

.wrapper .sidebar ul li.active-menuitem>a {
	border-bottom: 0 none;
	background-color: #2e3035;
	color: #2399e5;
}

.wrapper .sidebar ul li.active-menuitem>a .fa:last-child {
	background: none !important;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

.wrapper .sidebar ul li.active-menuitem>a .fa:last-child:before {
	content: "ï„†";
}

.wrapper .sidebar ul li.active-menuitem>ul {
	background-color: #2e3035;
}

.wrapper .sidebar ul li>ul {
	display: none;
	padding-left: 20px;
}

.wrapper .sidebar ul li>ul li a {
	padding: 10px 15px;
	font-size: 13px;
	border-top: 0 none;
}

.wrapper .sidebar ul li>ul li:last-child>a {
	border-bottom: 0 none;
}

.wrapper .sidebar ul li:last-child>a {
	border-bottom: 1px solid #4e5159;
}

/* main content area */

.wrapper .main {
	-moz-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
	margin-left: 250px;
	padding: 50px 16px 16px 16px;
	padding-bottom: 7em; /* footer addition */
}

.wrapper .main h1:FIRST-CHILD {
	/* border-bottom: 1px solid #cccccc; */ /* #eee; */
    margin: 40px 0 20px;
    padding-bottom: 9px;
	
	font-size: 36px;
}

/* Footer - always at bottom of page */

.wrapper .footer {
	margin-left: 250px;
	height: 4em;
	background-color: #ffffff;
	/* padding: .7em 1.5em 0em 1.5em; */
	padding: .3em 1.5em 0em 1.5em;
	
	/* below - footer addition */
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: #000;
  	color: #fff;
  	-moz-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
}

.wrapper .footer p {
	vertical-align: middle;
	margin: 0;
	font-size: 0.7em;
}

.wrapper .footer .dev {
	color: red;
	text-align: center;
}

/* Ui-text-dialog */

#ui-text-dialog label {
	color: black;
	font-weight: bold;
}

/* Responsive */
@media ( min-width : 1025px) {
	.wrapper.sidebar-inactive-l .topbar {
		left: 0;
	}
	.wrapper.sidebar-inactive-l .main {
		margin-left: 0;
	}
	.wrapper.sidebar-inactive-l .sidebar {
		margin-left: -250px;
	}
	.wrapper.sidebar-inactive-l .footer {
		margin-left: 0;
	}
	.wrapper.sidebar-inactive-l .main .ui-menubar {
		left: 0;
	}
}

@media ( max-width : 1024px) {
	.wrapper .topbar {
		left: 0;
	}
	.wrapper .main .ui-menubar {
		left: 0;
	}
	.wrapper .main {
		margin-left: 0;
	}
	.wrapper .sidebar {
		margin-left: -250px;
		width: 250px;
	}
	.wrapper .sidebar .profile .logo {
		 height: 0;
		 width: 0;
	}
	.wrapper .sidebar .profile .logo img {
		 height: 0;
		 width: 0;
	}
	.wrapper .sidebar .profile {
		padding: 5px 0;
	}
	.wrapper .sidebar .profile > ul {
		margin-bottom: -5px;
	}
	.wrapper .footer {
		margin-left: 0;
	}
	.wrapper.sidebar-active-m .sidebar {
		margin-left: 0;
	}
}

@media (min-width : 640px) {
	.wrapper .topbar #topbar-icons>div {
		position: relative;
	}
	
	.wrapper .topbar #topbar-icons>div>ul {
		position: absolute;
		top: 40px;
		right: 0;
		display: none;
		width: 250px;
		background-color: #ffffff;
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		animation-duration: .5s;
		list-style-type: none;
		margin: 0;
		padding: 8px 0;
		z-index: 999;
		-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
	}
	.wrapper .topbar #topbar-icons>div>ul a {
		text-decoration: none;
		padding: 8px 16px;
		display: block;
		width: 100%;
		box-sizing: border-box;
		color: #5f666c;
	}
	.wrapper .topbar #topbar-icons>div>ul a .fa {
		margin-right: 8px;
	}
	.wrapper .topbar #topbar-icons>div>ul a:hover {
		background-color: #f0f3f5;
		-moz-transition: background-color 0.3s;
		-o-transition: background-color 0.3s;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
	.wrapper .topbar #topbar-icons>div.active>ul {
		display: block;
	}
	.layout-wrapper .topbar-items>li .topbar-message img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
	}
}

@media ( max-width : 640px) {
	.wrapper .topbar {
		text-align: center;
	}
	.wrapper .topbar #topbar-icons-toggle-button {
		display: inline-block;
	}
	.wrapper .topbar #topbar-icons {
		display: none;
		position: absolute;
		right: 10px;
		top: 50px;
		padding-bottom: 5px;
		text-align: left;
		background-color: #4e5159;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4e5159),
			to(#1f2023));
		background-image: -webkit-linear-gradient(top, #4e5159, #1f2023);
		background-image: -moz-linear-gradient(top, #4e5159, #1f2023);
		background-image: -ms-linear-gradient(top, #4e5159, #1f2023);
		background-image: -o-linear-gradient(top, #4e5159, #1f2023);
		background-image: linear-gradient(top, #4e5159, #1f2023);
		filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#4e5159',
			end-colourStr='#1f2023');
		-moz-border-radius-bottomleft: 3px;
		-webkit-border-bottom-left-radius: 3px;
		border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-webkit-border-bottom-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.wrapper .topbar #topbar-icons div {
		display: block;
		padding: 10px;
		margin-left: 0;
	}
	.wrapper .topbar #topbar-icons div a {
		padding-left: 0;
		-moz-transition: padding-left 0.3s;
		-o-transition: padding-left 0.3s;
		-webkit-transition: padding-left 0.3s;
		transition: padding-left 0.3s;
	}
	.wrapper .topbar #topbar-icons div ul li a {
		padding-left: 0;
		display: inline-block;
		-moz-transition: padding-left 0.3s;
		-o-transition: padding-left 0.3s;
		-webkit-transition: padding-left 0.3s;
		transition: padding-left 0.3s;
	}
	.wrapper .topbar #topbar-icons div a:hover {
		color: #007be5;
		padding-left: 15px;
	}
	.wrapper .topbar #topbar-icons div>a span.icon-text {
		display: inline;
		font-size: 16px;
	}
	.wrapper .topbar #topbar-icons div>a span.topbar-icon {
		font-size: 18px;
		float: left;
		margin: 0px 5px 0px 5px;
		width: 20px;
	}
	.wrapper .topbar #topbar-icons div ul li a span.topbar-icon {
		font-size: 14px;
		margin: 0px 5px 0px 0px;
		width: 20px;
	}
	.wrapper .topbar #topbar-icons a span.badge {
		font-size: 10px;
		top: -7px;
		right: 54px;
	}
	.wrapper .topbar #topbar-icons.topbar-icons-visible {
		display: block;
	}
	.wrapper .topbar #topbar-icons>div ul {
		list-style: none;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.wrapper .topbar #topbar-icons>div ul li {
		padding: 5px 0;
	}
	.wrapper .topbar #topbar-icons>div ul li a {
		font-size: 14px;
		text-decoration: none;
		color: #fff;
	}
	.wrapper .topbar #topbar-icons>div ul li a i:FIRST-CHILD {
		margin-right: 5px;
	}
}