/* Breadcrumbs */

.ui-breadcrumb {
	/* margin: 15px 0; */
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.ui-breadcrumb.ui-widget-header {
	background: #fff;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  margin-top: 0;
  text-decoration: none;
  color: #025da6;
}

/* Menubar */

.ui-menu.ui-menubar.ui-widget.ui-widget-content {
	padding-top: 0;
	padding-bottom: 0;
	border-top: 0;
}

.ui-menu.ui-menubar.ui-widget.ui-widget-content.ui-corner-all, .ui-menu.ui-menubar.ui-widget.ui-widget-content ul.ui-menu-list li.ui-menuitem.ui-widget.ui-corner-all, .ui-menu.ui-menubar.ui-widget.ui-widget-content ul.ui-menu-list li.ui-menuitem.ui-widget.ui-corner-all a.ui-menuitem-link.ui-corner-all {
	-moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -khtml-border-top-right-radius: 0;
    border-top-right-radius: 0;
    
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.ui-menu .ui-menuitem {
  	margin: 0;
}

.ui-menu.ui-menubar.ui-widget.ui-widget-content .ui-menu-list .ui-menuitem-link {
}

/* Datatable */

.ui-datatable-odd {
	background-color: #fff;
}

.ui-datatable-header {
	background: #dfe5e8;	
}

/* Panels - general */

.ui-panel {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	
	
	/*
	-webkit-box-shadow: 10px 10px 5px -6px rgba(201,201,201,1);
	-moz-box-shadow: 10px 10px 5px -6px rgba(201,201,201,1);
	box-shadow: 10px 10px 5px -6px rgba(201,201,201,1);
	*/
}

.ui-panel .ui-panel-content {
	padding: 1em;
	/* background-color: #fff; */
}

.ui-panel .ui-panel-titlebar.ui-widget-header {
	background: #fff !important;
}

.ui-panel .ui-panel-title {
	font-size: 1.3em;
	font-family: "Open Sans", sans-serif;
}

.ui-panel .ui-panel-footer {
	margin: 0;
}

.ui-panel-footer.ui-widget-content .ui-button {
	float: right;
}

.ui-panel-footer.ui-widget-content>a {
	float: right;
	display: inline-block;
	color: #025DA6;
	text-decoration: none;
}

.ui-panel-footer.ui-widget-content:after {
    content:'';
    display:block;
    clear: both;
}

/* Panels - Infoboxes */

.infobox.ui-panel .ui-panel-titlebar.ui-widget-header {
	background: transparent !important;
}

.infobox.ui-panel .ui-panel-content, .infobox.ui-panel.ui-widget.ui-widget-content .ui-panel-content.ui-widget-content {
    padding: 0;
    border: 0;
}

.infobox.ui-panel.ui-widget.ui-widget-content .ui-panel-footer.ui-widget-content {
	border: 0;
}

.infobox.ui-panel .ui-widget-header.ui-panel-titlebar .ui-panel-title {
	display: block;
	margin: 0;
}
.infobox.ui-panel .ui-widget-header.ui-panel-titlebar .ui-panel-title:after {
    content:'';
    display:block;
    clear: both;
}

.infobox.ui-panel .ui-widget-header.ui-panel-titlebar i {
    font-size: 4em;
    display: inline-block;
    float: left;
}

.infobox.ui-panel .ui-widget-header {
	color: inherit;
}

.infobox.ui-panel .ui-panel-titlebar.ui-widget-header .ui-panel-title>div {
	float: right;
	display: inline-block;
}

.infobox.ui-panel .ui-panel-titlebar.ui-widget-header .ui-panel-title>div>div {
	text-align: right;
	font-size: 1em;
	font-weight: normal;
}

.infobox.ui-panel .ui-panel-titlebar.ui-widget-header .ui-panel-title>div>div:first-child {
	font-size: 2em;
}

/* topbar */

.topbar .ui-inputswitch.ui-widget {
	position: relative;
	top: 5px;
}

/* Grid */
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
	padding: 1em;
}

@media screen and (max-width: 40em) {
	.ui-sm-1, .ui-sm-2, .ui-sm-3, .ui-sm-4, .ui-sm-5, .ui-sm-6, .ui-sm-7, .ui-sm-8, .ui-sm-9, .ui-sm-10, .ui-sm-11, .ui-sm-12 {
	    padding: 0.7em;
	}
}

@media screen and (min-width: 40.063em) {
	.ui-md-1, .ui-md-2, .ui-md-3, .ui-md-4, .ui-md-5, .ui-md-6, .ui-md-7, .ui-md-8, .ui-md-9, .ui-md-10, .ui-md-11, .ui-md-12 {
	    padding: 1em;
	}
}

@media screen and (min-width: 64.063em) {
	.ui-lg-1, .ui-lg-2, .ui-lg-3, .ui-lg-4, .ui-lg-5, .ui-lg-6, .ui-lg-7, .ui-lg-8, .ui-lg-9, .ui-lg-10, .ui-lg-11, .ui-lg-12 {
	    padding: 1em;
	}
}

@media screen and (min-width: 90.063em) {
	.ui-xl-1, .ui-xl-2, .ui-xl-3, .ui-xl-4, .ui-xl-5, .ui-xl-6, .ui-xl-7, .ui-xl-8, .ui-xl-9, .ui-xl-10, .ui-xl-11, .ui-xl-12 {
	    padding: 1em;
	}
}

.ui-g-nopad {
    padding: 0;
}